<div class="card-body">
  <h5 class="card-title">
    <%= e.title %>
    <span class="badge bg-info">
      <%= new Date( e.ptime).toLocaleDateString();%>
    </span>
  </h5>
  <p class="card-text"><%= e.description %></p>
</div>